<style>
  .box {
    width: 80%;
    height: 80%;
  }
  td {
    width: 17%;
    height: 100px;
  }
  tr {

  }
</style>
<div class = 'container'>
<p id="notice"><%= notice %></p>
<div class = "row">
  <div class = 'col-md-4'>
    <br>
<h1>Events</h1>
<table class = 'table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><% event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%y %I:%M %p") %>
          <%= thisMonth = event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%m") %>
          <%= thisDay = event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%d") %>
        </td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Event', new_event_path %>
<% firstDay = @firstDay %>
<% length = @length %>
</div>
<div class = 'col-md-8'>
<center>

<% if @month == 12 %>
  <%= link_to "go back", events_path(month: @month - 1, year: @year) %>
  <%= link_to "go forward", events_path(month: 1, year: @year + 1) %>
<% elsif @month == 1 %>
  <%= link_to "go back", events_path(month: 12, year: @year - 1) %>
  <%= link_to "go forward", events_path(month: @month + 1, year: @year) %>
<% else %>
<%= link_to "go back", events_path(month: @month - 1, year: @year) %>
<%= link_to "go forward", events_path(month: @month + 1, year: @year) %>
<% end %>


<h1><%= @monthName%> <%= @year %></h1>
<% month = @month %>
<table class = 'table'>
  <thead>
    <tr>
      <th>sunday</th>
      <th>monday</th>
      <th>tuesday</th>
      <th>wednesday</th>
      <th>thursday</th>
      <th>friday</th>
      <th>saturday</th>
    </tr>
  </thead>
  <tr>
<% for x in 0..(firstDay - 1) %>
  <td><div class = "box"></div></td>
<% end %>
<% for day in 1..length %>
 <% if firstDay == 6 %>
    <td><div class = "box"><%= day %>
      <% @events.each do |event| %>
        <% thisMonth = event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%m").to_i %>
        <% thisDay = event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%d").to_i %>
        <% if month == thisMonth && day == thisDay %>
          <%= event.name %>
      <% end %>
      <% end %>
    </div></td>
   </tr>
  <% elsif firstDay == 0 %>
   <tr><td><div class = "box"><%= day %>
     <% @events.each do |event| %>
       <% thisMonth = event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%m").to_i %>
       <% thisDay = event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%d").to_i %>
       <% if month == thisMonth && day == thisDay %>
         <%= event.name %>
     <% end %>
     <% end %>
   </div></td>
  <% else %>
    <td><div class = "box"><%= day %>
      <% @events.each do |event| %>
      <% thisMonth = event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%m").to_i %>
      <% thisDay = event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%d").to_i %>
      <% if month == thisMonth && day == thisDay %>
        <%= event.name %>
    <% end %>
    <% end %></div></td>
 <% end %>
<% firstDay = (firstDay + 1) % 7 %>
<% end %>
</tr>
</table>
</div>
</center>

</div>
</div>
<script>

</script>
