<style>
  .box {
    width: 120px;
    height: 120px;
  }
</style>

<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><% event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%y %I:%M %p") %>
          <%= thisMonth = event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%m") %>
          <%= thisDay = event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%d") %>
        </td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= Time.now.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%y %I:%M %p") %>
<%= Time.now.at_beginning_of_month.strftime("%m/%d/%y %w") %>
<%= firstDay = Time.now.at_beginning_of_month.strftime("%w").to_i %>
<!-- sunday is 0 -->
<br>

<% length = Time.now.end_of_month.day.to_i %>
<center>
<h1><%= month = Time.now.strftime("%B") %></h1>
<% month = Time.now.month.to_i %>
<table>
  <tr>
<% for x in 0..(firstDay - 1) %>
  <td><div class = "box"></div></td>
<% end %>
<% for day in 1..length %>
 <% if firstDay == 6 %>
    <td><div class = "box"><%= day %>
      <% @events.each do |event| %>
        <% thisMonth = event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%m").to_i %>
        <% thisDay = event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%d").to_i %>
        <% if month == thisMonth && day == thisDay %>
          <%= event.name %>
      <% end %>
      <% end %>
    </div></td>
   </tr>
  <% elsif firstDay == 0 %>
   <tr><td><div class = "box"><%= day %>
     <% @events.each do |event| %>
       <% thisMonth = event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%m").to_i %>
       <% thisDay = event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%d").to_i %>
       <% if month == thisMonth && day == thisDay %>
         <%= event.name %>
     <% end %>
     <% end %>
   </div></td>
  <% else %>
    <td><div class = "box"><%= day %>
      <% @events.each do |event| %>
      <% thisMonth = event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%m").to_i %>
      <% thisDay = event.time.in_time_zone("Eastern Time (US & Canada)").strftime("%d").to_i %>
      <% if month == thisMonth && day == thisDay %>
        <%= event.name %>
    <% end %>
    <% end %></div></td>
 <% end %>
<% firstDay = (firstDay + 1) % 7 %>
<% end %>
</tr>
</table>
</center>
<%= link_to 'New Event', new_event_path %>

<script>

</script>
